#include <windows.h>

LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US

VS_VERSION_INFO VERSIONINFO
	FILEVERSION 4,5,12,0
	PRODUCTVERSION 4,5,12,0
	FILEFLAGSMASK 0x17L
#ifdef _DEBUG
	FILEFLAGS 0x1L
#else
	FILEFLAGS 0x0L
#endif
	FILEOS 0x4L
	FILETYPE 0x2L
	FILESUBTYPE 0x0L
BEGIN
	BLOCK "StringFileInfo"
	BEGIN
		BLOCK "00000409"
		BEGIN
			VALUE "FileDescription", "Process Status Helper (Win9x)"
			VALUE "FileVersion", "4.5.12.0"
			VALUE "InternalName", "PSAPI"
			VALUE "LegalCopyright", "Copyright (C) KernelEx authors / sherpya"
			VALUE "OriginalFilename", "PSAPI"
			VALUE "ProductName", "KernelEx"
			VALUE "ProductVersion", "4.5.12.0"
		END
	END
	BLOCK "VarFileInfo"
	BEGIN
		VALUE "Translation", 0x0, 1033
	END
END
